{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 1 Chrome version"]
      },
      "useBuiltIns": "usage",
      "modules": false
    }],
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true
    }]
  ],
  "plugins": [
    "babel-plugin-lodash",
    "babel-plugin-macros"
  ]
}
