{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 1 Chrome version"]
      },
      "useBuiltIns": "usage",
      "modules": false
    }],
    ["babel-preset-proposals", {
      "all": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-lodash",
    "babel-plugin-macros",
    "react-html-attrs"
  ]
}
