@import 'modern-normalize';
@import '@material/button/mdc-button';
@import '@material/typography/mdc-typography';

body {
  // fix the width so the settings popup window
  // doesn't resize by itself
  width: 400px;
  padding: 16px;
}

label {
  display: flex;
  align-items: center;

  .mdc-button {
    flex-shrink: 0;
  }

  [id*='import'] {
    display: flex;
    align-items: center;
    margin-left: 16px;

    .material-icons {
      margin-right: 4px;
    }
  }
}

.visibly-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.red {
  color: #dd2c00;
}

.green {
  color: #4caf50;
}
