@import 'modern-normalize';
@import '@material/button/mdc-button';
@import '@material/list/mdc-list';
@import '@material/react-text-field/index.scss';
@import '@material/snackbar/mdc-snackbar';
@import '@material/elevation/mdc-elevation';

body {
  margin: 0;
  padding: 0;
  width: 400px;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;

  h1 {
    flex-grow: 1;
  }
}

// the row container
.mdc-list {
  padding: 0;
}

// the row
.mdc-list-item {
  height: 64px !important;

  // emoji on the left
  &__emoji {
    flex-shrink: 0;
    margin-right: 12px;
    width: 44px;
    height: 44px;
    font-size: 25px;
    line-height: 1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
  }

  // where you can click when not editing the icon
  &__clickable-area {
    cursor: pointer;
    .mdc-list-item--selected & {
      cursor: default;
    }
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: -16px;
    padding-left: 16px;
    overflow: hidden;

    & + .mdc-list-item__meta {
      margin-left: 12px;
    }
  }

  // action icon on the right
  &__meta {
    cursor: pointer;
    user-select: none;
    color: black;
    opacity: 0.25;
    &:hover {
      opacity: 0.55;
    }
    &:active {
      opacity: 0.8;
    }
    // support multiple .mdc-list-item__meta
    & ~ .mdc-list-item__meta {
      margin-left: 12px;
    }
  }

  // the emoji input
  .mdc-text-field.mdc-list-item__emoji-input {
    flex-shrink: 0;
    margin-right: 12px;
    width: 44px;
    .mdc-text-field__input {
      // pixel perfect alignment between the unedited and edited
      margin-top: 1px;
      margin-left: 2px;
      padding: 0;
      text-align: center;
      font-size: 25px;
      line-height: 1;
    }
  }

  // the label input
  .mdc-list-item__input {
    flex-grow: 1;
    margin-right: 48px;
  }
}

// the text input
// the double specificity hack 💻 🕸 🚬 is because
// the original class has weird classes
.mdc-text-field.mdc-text-field {
  background: none;
  &:before {
    background: none;
  }
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  .mdc-text-field__input {
    padding: 6px 0;
  }
  .mdc-floating-label {
    display: none;
  }
}

// the snackbar of when you delete the row
.mdc-snackbar {
  position: static;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;

  margin-right: -16px;
  margin-left: -16px;
  flex-grow: 1;

  &__text {
    font-size: 0.875rem;
  }

  &__action-button {
    color: #ffff00;
  }
}

// disable the hover/active state of the row when interacting with the clickable icon
// this is a sass trick ✨🎩
.mdc-list-item__clickable-area::after {
  @extend .mdc-list-item::after;
  // make tha active transition faster
  transition: opacity 0.05s ease !important;
}
.mdc-list > .mdc-list-item::after {
  display: none;
}

// trigger the hover state only when in clickable area
// this is a sass trick ✨🎩
.mdc-list-item__clickable-area::before {
  @extend .mdc-list-item::before;
}
.mdc-list > .mdc-list-item:not(.mdc-list-item--selected)::before {
  display: none;
}

// disable hover/active states of row when is the selected one
.mdc-list-item.mdc-list-item--selected .mdc-list-item__clickable-area::after,
.mdc-list-item.mdc-list-item--selected .mdc-list-item__clickable-area::before {
  display: none;
}
.mdc-list-item.mdc-list-item--selected:hover::before {
  opacity: 0.08 !important;
}

// misc
.button-reset {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  outline: none;
}
.hover-red:hover,
.hover-red:focus {
  color: #dd2c00;
}
.hover-blue:hover,
.hover-blue:focus {
  color: #6200ee;
}
