@import 'modern-normalize';
@import '@material/button/mdc-button';
@import '@material/list/mdc-list';
@import '@material/react-text-field/index.scss';
@import '@material/snackbar/mdc-snackbar';
@import '@material/elevation/mdc-elevation';

body {
  margin: 0;
  padding: 0;
  width: 400px;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;

  h1 {
    flex-grow: 1;
  }
}

// the row container
.mdc-list {
  padding: 0;
}

// the row
.mdc-list-item {
  height: 64px !important;

  // emoji on the left
  &__emoji {
    flex-shrink: 0;
    margin-right: 12px;
    width: 44px;
    height: 44px;
    font-size: 25px;
    line-height: 1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    overflow: hidden;
    white-space: nowrap;
  }

  // where you can click when not editing the icon
  &__clickable-area {
    cursor: pointer;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: -16px;
    padding-left: 16px;
    overflow: hidden;

    & + .mdc-list-item__meta {
      margin-left: 12px;
    }
  }

  // action icon on the right
  &__meta {
    cursor: pointer;
    user-select: none;
    color: black;
    opacity: 0.25;
    &:hover {
      opacity: 0.55;
    }
    &:active {
      opacity: 0.8;
    }
    // support multiple .mdc-list-item__meta
    & ~ .mdc-list-item__meta {
      margin-left: 12px;
    }
  }

  // the text input
  .mdc-text-field {
    flex-grow: 1;
    margin-right: 48px;
    background: none;
    &:before {
      background: none;
    }
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: auto !important;
  }
  .mdc-text-field__input {
    padding: 6px 0;
  }
}

// the snackbar of when you delete the row
.mdc-snackbar {
  position: static;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;

  margin-right: -16px;
  margin-left: -16px;
  flex-grow: 1;

  &__text {
    font-size: 0.875rem;
  }

  &__action-button {
    color: #ffff00;
  }
}

// disable the hover/active state of the row when interacting with the clickable icon
// this is a sass trick ✨🎩
.mdc-list-item__clickable-area::after {
  @extend .mdc-list-item::after;
}
.mdc-list > .mdc-list-item::after {
  display: none;
}

// misc
.button-reset {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  outline: none;
}
.hover-red:hover,
.hover-red:focus {
  color: #dd2c00;
}
.hover-blue:hover,
.hover-blue:focus {
  color: #6200ee;
}
